:root {--majorcolor: #0c0c0c}
:root{--whiteLetter:#cacaca}
:root{--red-color: red}
:root{--Black:#000000}
:root{--GrayLetter:#b3b3b3}



/*------------- Common Styles -------------- */

html{
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}
.main-body{
    background: red;
}
body{
    height: 100vh;
    width:  100%;
}

body, h1, h2, h3, h4, h5, p, ol, ul{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    color: rgb(202, 202, 202);
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none ; 
    list-style: none;
    font-weight: 400;
    border-style: none;
    letter-spacing: 1px;
}
a:hover{
    text-decoration: none;
}
.fa{
  color: var(--red-color);
}


/*----------------- Navigation Header  ---------------- */

.header .nav_top{
    position: fixed;
    z-index: 11;
}
.header .logo{
    margin: 0px;
    padding: 15px 0px;
}
.header .logo a,
.header.logo a img{
    display: block;
}
.header .logo img{
    width: 150px;
}
.header .menu ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    font-family: 'Oswald', sans-serif;
}
.header .menu li{
    padding: 25px 20px ;
}
.header .menu li a {
  font-weight: 500;
  color: var(--whiteLetter);
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    	to right,
	    var(--red-color) ,
	    var(--red-color) 50%,
	    var(--whiteLetter) 50%);
	    background-size: 200% 100%; 
	    background-position: 100%;
}


.header .menu li a:hover {
  transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
  background-position: 0%;
}



.wrap{
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: space-around;
}


                        /*----------------- Hamburger Open ---------------- */


                        .header .sidemenu-toggler{
                          position: absolute;
                          width: 25px;
                          padding: 6px;
                          top: 20px;
                          right: 40px;
                          cursor: pointer;
                          z-index: 12;
                        }

                        .header .sidemenu-toggler > span{
                          display: block;
                          background: white;
                          height: 3px;
                          border-radius: 10px;
                          width: 100%;
                          transition: 0.1s all; 
                          transition: .1s all; 
                        }
                        .header .sidemenu-toggler:hover > span{
                          background: var(--red-color);
                        }

                        .header .sidemenu-toggler > span:nth-child(2){
                          margin: 4px 0px 4px auto;
                          width: 75%;
                          transition: 0.3s all; 
                        }
                        .header .sidemenu-toggler > span:nth-child(3){
                          width: 50%;
                          margin: 4px 0px 4px auto;
                          transition: 0.6s all; 
                        }

                        .header .sidemenu-toggler:hover > span:nth-child(2),
                        .header .sidemenu-toggler:hover > span:nth-child(3){
                          width: 100%;
                        }

                        /*----------------- Side Menu Nav  ---------------- */

                        .header .sidemenu {
                          position: fixed;
                          top: 0px;
                          right: 0px;
                          background: #131313ea;
                          width: 30%;
                          height: 100vh;
                          padding: 4rem;
                          transform: translate3d(100%, 0, 0);
                          transition: transform .5s ease-in-out;
                          overflow: hidden;
                          z-index: 11;
                          font-family: 'Oswald', sans-serif;
                        }

                        .header .sidemenu.active{
                          transform: translate3d(0,0,0);
                        }

                        .header .sidemenu nav ul{
                          padding-top: 35px;
                        }
                        .header .sidemenu nav li{
                          padding-top: 40px ;
                        }
                        .header .sidemenu nav a{
                          font-size: 16px;
                          letter-spacing: 4px;
                          color: white;
                          font-weight: 200;
                          position: relative;
                          
                        }
                        .header .sidemenu nav ul li a::after{
                          content: "";
                          background: red;
                          position: absolute;
                          left: 50px;
                          bottom: -5px;
                          width: 100%;
                          height: 1px;
                          transform: translateX(250px) scaleX(0);
                          -webkit-transform: translateX(-90px) scaleX(0);
                          transform-origin: left;
                          transition: .3s ease;
                          
                        }

                        .header .sidemenu nav ul li a:hover::after{
                          transform: translateX(-50px);
                        }

                         

                        /*-------------------- Side Menu Icons ------------------ */

                        .header .sidemenu footer .social{
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          width: 40%;
                          margin: 50px 0px 15px 0px;
                        }

                        .header .sidemenu footer .social .fa {
                          transition: .2s ease;
                          font-size: 22px;
                          color: var(--red-color) ;
                          padding: 7px;
                        }

                        /*--- Social Meida Hover Colours ---  */

                        .header .sidemenu footer .social .fa-instagram:hover  {
                          color: #bc2a8d;
                          text-shadow: 0 0 15px #cf2e9c ;
                          transform: scale(1.2);
                        }
                        .header .sidemenu footer .social .fa-facebook:hover  {
                          color: #4f75c7;
                          text-shadow: 0 0 15px #4769b3 ;
                          transform: scale(1.2);
                        }
                        .header .sidemenu footer .social .fa-whatsapp:hover  {
                          color: #4dc247;
                          text-shadow: 0 0 15px #4dc247 ;
                          transform: scale(1.2);
                        }
                        .header .sidemenu footer .social .fa-twitter:hover  {
                          color: #00aced;
                          text-shadow: 0 0 15px #00aced ;
                          transform: scale(1.2);
                        }

                        footer p{
                          letter-spacing: 2px;
                          text-transform: uppercase;
                          font-family: 'Oswald', sans-serif;
                          font-weight: 200;
                          letter-spacing: 3px;
                          
                        }

                        /*----------------- Hamburger Close ---------------- */

                        .sidemenu .sidemenu-open-toggler{
                          width: 18px;
                          height: 18px;
                          position: absolute;
                          padding: 10px;
                          top: 22px;
                          right: 33px;
                          cursor: pointer;
                          z-index: 15;
                          background: var(--red-color);
                          border-radius: 50%;
                        }
                        
                        .sidemenu .sidemenu-open-toggler:hover  {
                          transform: scale(1.2);    
                          -webkit-transition: all .4s cubic-bezier(.15,.2,.1,1);
                        }

                        .sidemenu .sidemenu-open-toggler > span{
                          display: block;
                          background: rgb(255, 255, 255);
                          height: 3px;
                          border-radius: 10px;
                          width: 20px;
                          transition: 0.4s all;
                          position: absolute;
                          top: 50%;
                          -webkit-transform: translateY(-2px) translateX(-1px) rotate(-45deg);
                          
                        }
                        .sidemenu .sidemenu-open-toggler > span:nth-child(2){
                          transition: 0.3s all; 
                          -webkit-transform: translateY(-2px) translateX(-1px)rotate(45deg);
                          overflow: hidden;
                          
                        }


                        /*------------- @@@@@@@@@@  Side Menu start  ------------ */

                        @media (max-width: 750px ){
                          .header .sidemenu {
                            width: 100%;
                            padding: 0px;
                            text-align: center;
                          }

                          .header .sidemenu nav ul{
                            padding-top: 70px;
                          }
                          .header .sidemenu footer .social{
                            width: 100%;
                            display: inline-block;
                            text-align: center;
                            margin: 50px auto 15px auto ;
                          }
                          .header .sidemenu footer .social img{
                            width: 28px;
                            margin: 0px 25px 0px 0px ;
                          }
                          .sidemenu .sidemenu-open-toggler{
                            right: 18px;
                          }

                        }
                          
                        /*------------- @@@@@@@@@@ Side Menu End  ------------ */


/* <!--------------- Scrolling Pictures  ------------------->  */


.keyart,
  .keyart_layer {
    height: 100vh;
  }
  
  #parallax {
    display: block;
  }
  
  .keyart {
    z-index: 10;
  }
  
  .keyart_layer {
    background-position: bottom center;
    background-size: auto;
    width: 100%;
    position: absolute;
  }
  
  .keyart_layer.parallax {
    position: fixed;
  }
  
  #sky-0 {
    background-image: url("./00-SKY.jpg");
    background-repeat: no-repeat;
    background-position: top;
    max-width: 2100px;
  }

  #mountaine-1 {
    background-image: url("./01-Mountaine.png");
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 110px;
    width: 2100px;
  }

  #mountaine-2 {
    background-image: url("./02-Mountaine.png");
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: left;
    margin-top: 200px;
    width: 2100px;
  }
  #mountaine-2-shadow{
    background: linear-gradient(to top, #00000000,  #000000, #00000000);
    width: 2100px;
    height: 200px;
    margin-top: 360px;
    mix-blend-mode: multiply;
    opacity: 85%;
    
  }

  #trees-3 {
    background-image: url("./03-Tree.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin-top: 370px;
    width: 2100px;
  }

   #trees-3-shadow{
    background: linear-gradient(to top, #00000000,  #000000, #00000000  );
    width: 2100px;
    height: 350px;
    margin-top: 450px;
    
  }
  #trees-4{
    background-image: url("./04-Tree.png");
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 370px;
    width: 2100px;
  }

  #trees-4-shadow{
    background: linear-gradient(to top, #00000000,  #000000, #00000000  );
    width: 2100px;
    height: 250px;
    margin-top:600px;
  }

  /* <!-------------- Banner Section-------------->  */

  #banner-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
  }
      .banner{
          display: flex;
          width: 83%;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: flex-end;
          }

/*--------- Left Container ------*/

            .left-container{
              display: flex;
              flex-wrap: wrap;
              align-items: flex-start;
              background-image: radial-gradient(  #0000009a 10% , #00000000 70%);
              mix-blend-mode: multiply;
            }
                  .text-container{
                    max-width: 302px; 
                  }
                        .text-container h4{
                          background: #ff0000b9;
                          padding: 10px 20px;
                          width: 90px;
                          font-weight: 500;
                          border-top-left-radius: 20px;
                          border-top-right-radius: 20px;
                          border-bottom-right-radius: 20px;
                          color: var(--GrayLetter);
                          margin-bottom: -10px;
                        }
                        .text-container h1{
                          color: transparent;
                          -webkit-text-stroke-width: 1px;
                          -webkit-text-stroke-color: var(--GrayLetter);
                          font-size: 95px;
                          font-weight: 700;
                          margin-left: -5px;
                          text-transform: uppercase;
                        }
                        .text-container h3{
                          font-size: 25px ;
                          font-weight: 600;
                          text-transform: uppercase;
                          height: 50px;
                        }
                        .text-container .socialmedia{
                          margin-top: 45px;
                          pointer-events: none;
                        }
                        .text-container .socialmedia .fa {
                          transition: all 0.4s ease;
                          font-size: 22px;
                          margin: 0px 15px 0px 0px ;
                          color: var(--red-color);
                        }
                        
/*--- Social Meida Hover Colours ---  */
                        

                  .img-container{
                    width: 230px;
                  }
                        .img-container img{
                          width: 240px;
                        }


/*--------- Right Container ------*/

            .right-container{
              width: 374px;
              background-image: radial-gradient(  #000000b9 10% , #00000000 70%);
              mix-blend-mode: multiply;
            }
                    .right-container .freelancer{
                      display: flex;
                      align-items: center;
                      margin-bottom: 20px;
                    }
                    .right-container .freelancer h3{
                      color: var(--red-color);
                      letter-spacing: 1px;
                      font-weight: 800;
                      font-size: 18px;
                    }
                    
                    .right-container .freelancer span{
                      width: 50px;
                      height: 2px;
                      background: var(--red-color);
                      margin-left: 12px;
                    }

              .right-container h2 {
                margin: -230px 0px 25px 40px ;
                line-height: 32px;
                font-size: 23px;
                font-weight: 600;
              }
              .right-container h2 p{
                font-size: 16px;
                line-height: 23px;
                margin-top: 15px;
              }

              .right-container h2::before{
                content: "";
                display: block;
                background: var(--red-color);
                width: 2px ;
                height: 230px;
                position: relative;
                bottom: -235px;
                left: -40px;
              }

                
                .right-container .fa-envelope  {
                  padding: 0px 20px 5px  0px;
                  font-size: 14px;
                }
                .right-container .fa-phone{
                  padding: 0px 20px 5px  0px;
                  font-size: 18px;
                }

                .right-container .headerpage-contact a {
                  color: white;
                  font-weight: 100;

                }

/*------------- @@@@@@@@@@  Min Width BANNER   ------------ */

              @media (min-width: 1750px ){

                /*--------- Left Container ------*/
                
                    .text-container{
                      max-width: 410px;
                    }
                        .text-container h1{
                          font-size: 120px;
                        }

                        .text-container .socialmedia .fa {
                          font-size: 24px;
                        }

                              .img-container img{
                                width: 260px;
                              }
                
                /*--------- Right Container ------*/
                
                .right-container{
                  width: 450px;
                }
                .right-container .fa-envelope  {
                  font-size: 20px;
                }
                .right-container .fa-phone{
                  font-size: 25px;
                }

                .right-container .headerpage-contact a {
                  font-size: 20px;
                }
              }
                
        

 /*------------- @@@@@@@@@@  Max Width For BANNER Start  ------------ */


              @media (max-width: 1093px ){

                
/* ----- Header container -----  */
              
.header .menu {
  display: none;
}

.header .logo{
padding: 0px 0px 0px 0px;
}

.wrap{
  height:  43px;
  justify-content: start;
  padding: 15px;
}

                /* ----- Left container-----  */


                .left-container{
                  padding: 0px;
                  justify-content: center;
                  align-items: flex-start;
                  margin-top: 320px;
                  background: rgba(0, 128, 0, 0.459);
                }
                    .text-container{
                      max-width: 100%;
                      text-align: left;
                      position: absolute;
                      top: 300px;
                      
                    }
                       
                        .text-container h4{
                          width: 100%;
                          background: none;
                          padding: 0px;
                          margin-bottom: -2px;
                          font-weight: 600;
                        }
                        .text-container h1{
                          font-size: calc(3.5em + 5vw);
                          margin-left: 0px;
                          letter-spacing: 2px;
                          margin-left: -4px;
                          min-width: 100px;
                        }
                        .text-container h3{
                          font-size: calc(1.5px + 20px);
                          letter-spacing: 1px;
                          font-weight: 600;
                          margin-top: -0px;
                          color: var(--red-color);
                        }
                        
                  .img-container{
                    width: 180px;
                    position: absolute;
                    top: 90px;
                    z-index: -1;
                  }
                        .img-container img{
                          width: 100%;
                        }

                /*--------- Right Container ------*/

                .right-container{
                  display: none;
                }

              }
                          


 /* <!-------------- Banner Section End -------------->  */

  #trees-5 {
    background-image: url("./05-Tree.png");
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 550px;
    width: 2100px;
    
  }
  #trees-5:after{
    content: "";
    width: 100%;
    height: 100vh;
    display: block;
    background: var(--majorcolor);
    position: absolute;
    top: 43%;
}
#trees-5:before{
  content: "";
  width: 100%;
  height: 200px;
  display: block;
  background: linear-gradient(#0c0c0c00,#0c0c0c);
  position: absolute;
  bottom: 56.8%;
}
#tree-5-5{
  display: none;
}
  
  #trees-6 {
    background-image: url("./06-Tree-new.png");
    background-repeat: no-repeat;
    margin-top: 900px;
    height: 380px;
    max-width: 2100px;
    z-index: 2;
  }

  #trees-6:after{
      content: "";
      width: 100%;
      height: 100vh;
      display: block;
      background: var(--majorcolor);
      position: absolute;
      top: 100%;
  }
 
  /*--- Top Overflow ---  */

  #keyart-scrim {
    opacity: 1;
  }


  /*------------- @@@@@@@@@@  Side Menu start  ------------ */

 /*------------  For Height effect scrooling --------  */

  @media (max-height: 800px ){
    #mountaine-1 {
      margin-top: 80px;
    }
    #mountaine-2 {
      margin-top: 110px;
    }
    #mountaine-2-shadow{
      margin-top: 260px;
      
    }
    #trees-3 {
      margin-top: 270px;
    } 
    
   #trees-3-shadow{
    margin-top: 350px;
    
  } 
    #trees-4{
      margin-top: 255px;
    }
    #trees-5 {
      margin-top: 400px;
      
    }  #trees-6 {
      margin-top: 700px;
    }
  
  }

                /*------------  For Mobile Device --------  */


                /* <!------- Scrolling Pictures  -------->  */

                @media (max-width: 600px){

                  #sky-0 {
                    background-image: url("./00-SKY.jpg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: top;
                    width: 650px;
                  }
                  #mountaine-1 {
                    margin-top: 80px;
                    background-image: url("./01-Mountaine-Mobile.png");
                    background-position: center;
                    margin-top: -100px;
                    width: 600px;
                  } 
                  #mountaine-2 {
                    background-image: url("./02-Mountaine-Mobile.png");
                    margin-top: 0px;
                    width: 600px;
                    background-position: center;
                  }
                  #mountaine-2-shadow{
                    width: 600px;
                    margin-top: 250px;
                    
                  }
                  #trees-3 {
                    display: none;
                  }
                
                  #trees-4{
                    background-image: url("./04-Tree\ -\ Mobile.png");
                    margin-top: 0px;
                    width: 600px;
                    background-position: center;
                  }
              
                  #trees-5 {
                    background-image: url("./05-Tree-Mobile.png");
                    background-position: center;
                    margin-top: 195px;
                    width: 600px;
                  }
                  #trees-5:after{
                    display: none;
                }
                  #trees-5:before{
                    display: none;
                }
                #tree-5-5{
                  display: block;
                  background-image: url("./05-5-Tree-Mobile.png");
                  background-position: center;
                  margin-top: 475px;
                  height: 380px;
                  width: 600px;
                }
                  #trees-6 {
                    background-image: url("./06-Tree-new\ Mobile.png");
                    background-position: center;
                    margin-top: 500px;
                    height: 100%;
                    width: 100%;
                  }
                  #trees-6:after{
                    top: 70%;
                }
                }
               


                  /* <!---------- Banner Section-------->  */



                /* <!------- Scrolling Pictures End  -------->  */





