:root {--majorcolor: #0c0c0c}
:root{--whiteLetter:#cacaca}
:root{--red-color: #d82a2a}
:root{--Black:#000000}
:root{--GrayLetter:#b3b3b3}
:root{--Grd-Dark:#353536}
:root{--Grd-Light:#585858}




/*------------- Common Styles -------------- */

html{
    box-sizing: border-box;
    font-size: 16px;
    scroll-behavior: smooth;
}
.main-body{
    background: black;
}
body{
    height: 100vh;
    width:  100%;
}

body, h1, h2, h3, h4, h5, p, ol, ul{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    color: rgb(202, 202, 202);
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
p{
  
  font-size: 16px;
  line-height: 25px;
}

a{
    text-decoration: none ; 
    list-style: none;
    font-weight: 400;
    border-style: none;
    letter-spacing: 1px;
}
a:hover{
    text-decoration: none;
}
.fa{
  color: var(--red-color);
}
img{
  width: 100%;
}


/*----------------- Navigation Header  ---------------- */

.header .nav_top{
    position: fixed;
    z-index: 11;
}
.header .logo{
    margin: 0px;
    padding: 15px 0px;
    width: 150px;
    transition: .5s ease-in-out;
}
.header .logo a,
.header.logo a img{
    display: block;
}
.header .logo img{
    width: 100%;
}
.header .menu ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    font-family: 'Oswald', sans-serif;
    position: relative;
    top: 15px;
}
#menuDcrease{
  transition: .5s ease-in-out;
}
.header .menu li{
  padding: 10px 20px;
}
.header .menu li a {
  font-weight: 500;
  color: var(--whiteLetter);
  text-decoration: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    	to right,
	    var(--red-color) ,
	    var(--red-color) 50%,
	    var(--whiteLetter) 50%);
	    background-size: 200% 100%; 
	    background-position: 100%;
}


.header .menu li a:hover {
  transition: all 0.3s cubic-bezier(0.000, 0.000, 0.230, 1);
  background-position: 0%;
}

.wrap{
  display: flex;
  width: 100%;
  height: 38px;
  justify-content: space-around;
  transition: .6s ease-in-out;
}


                        /*----------------- Hamburger Open ---------------- */


                        .header .sidemenu-toggler{
                          position: absolute;
                          width: 25px;
                          padding: 6px;
                          top: 20px;
                          right: 40px;
                          cursor: pointer;
                          z-index: 12;
                        }

                        .header .sidemenu-toggler > span{
                          display: block;
                          background: white;
                          height: 3px;
                          border-radius: 10px;
                          width: 100%;
                          transition: 0.1s all; 
                          transition: .1s all; 
                        }

                        .header .sidemenu-toggler > span:nth-child(2){
                          margin: 4px 0px 4px auto;
                          width: 75%;
                          transition: 0.3s all; 
                        }
                        .header .sidemenu-toggler > span:nth-child(3){
                          width: 50%;
                          margin: 4px 0px 4px auto;
                          transition: 0.6s all; 
                        }

                        .header .sidemenu-toggler:hover > span:nth-child(2),
                        .header .sidemenu-toggler:hover > span:nth-child(3){
                          width: 100%;
                        }

                        /*----------------- Side Menu Nav  ---------------- */

                        .header .sidemenu {
                          position: fixed;
                          top: 0px;
                          right: 0px;
                          background: #292929f1;
                          width: 30%;
                          height: 100vh;
                          padding: 4rem;
                          transform: translate3d(100%, 0, 0);
                          transition: transform .3s ease;
                          overflow: hidden;
                          z-index: 11;
                          font-family: 'Oswald', sans-serif;
                        }

                        .header .sidemenu.active{
                          
                          transform: scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                        }

                        .header .sidemenu nav ul{
                          padding-top: 35px;
                        }
                        .header .sidemenu nav li{
                          padding-top: 40px ;
                        }
                        .header .sidemenu nav a{
                          font-size: 16px;
                          letter-spacing: 4px;
                          color: white;
                          font-weight: 200;
                          position: relative;
                          
                        }
                        .header .sidemenu nav ul li a::after{
                          content: "";
                          background: red;
                          position: absolute;
                          left: 50px;
                          bottom: -5px;
                          width: 100%;
                          height: 1px;
                          transform: translateX(250px) scaleX(0);
                          -webkit-transform: translateX(-90px) scaleX(0);
                          transform-origin: left;
                          transition: .3s ease;
                          
                        }

                        .header .sidemenu nav ul li a:hover::after{
                          transform: translateX(-50px);
                        }

                         

                        /*-------------------- Side Menu Icons ------------------ */

                        .header .sidemenu footer .social{
                          display: flex;
                          align-items: center;
                          justify-content: space-between;
                          width: 60%;
                          margin: 50px 0px 15px 0px;
                        }

                        .header .sidemenu footer .social li a {
                          display: block;
                          text-align: center;
                          width: 50px;
                          height: 50px;
                          transition: .3s ease;
                          border-radius: 50%;
                          background: linear-gradient(0deg, var(--Grd-Dark), var(--Grd-Light));
                          box-sizing: border-box;
                          box-shadow: 0 8px 10px #000000;
                          padding: 3px;
                          margin: 0px 10px 0px 5px;
                        }

                        .header .sidemenu footer .social li a:hover{
                          box-shadow: 0 2px 3px #000000;
                        }

                        .header .sidemenu footer .social li a .fa{
                          background: linear-gradient(180deg, var(--Grd-Dark), var(--Grd-Light));
                          width: 100%;
                          height: 100%;
                          display: block;
                          border-radius: 50%;
                          line-height: calc(50px - 8px);
                          font-size: 20px;
                          color: var(--GrayLetter) ;
                          transition: .4s ease;
                        }
                        .header .sidemenu footer .social li:nth-child(1) a:hover .fa{
                          color: #e0228f;
                        }
                        .header .sidemenu footer .social li:nth-child(2) a:hover .fa{
                          color: #5f8cdf;
                        }
                        .header .sidemenu footer .social li:nth-child(3) a:hover .fa{
                          color: #4dc247;
                        }
                        .header .sidemenu footer .social li:nth-child(4) a:hover .fa{
                          color: #55acee;
                        }


                        footer p{
                          letter-spacing: 2px;
                          text-transform: uppercase;
                          font-family: 'Oswald', sans-serif;
                          font-weight: 200;
                          letter-spacing: 3px;
                          
                        }

                        /*----------------- Hamburger Close ---------------- */
                      
                        .sidemenu .sidemenu-open-toggler{
                          width: 18px;
                          height: 18px;
                          position: absolute;
                          padding: 12px;
                          top: 22px;
                          right: 33px;
                          cursor: pointer;
                          z-index: 15;
                        }
                        .sidemenu .sidemenu-open-toggler::before{
                          content: "";
                          background: linear-gradient(0deg, var(--Grd-Dark), var(--Grd-Light));
                          width: 100%;
                          height: 100%;
                          display: block;
                          border-radius: 50%;
                          padding: 14px;
                          margin: -14px 0px 0px -14px;
                          box-shadow: 0 5px 14px #000000;
                          transition: 0.3s all;
                        }

                        .sidemenu .sidemenu-open-toggler:hover:before {
                          box-shadow: 0 2px 3px #000000;
                        }
                        .sidemenu .sidemenu-open-toggler:hover > span {
                          background-color: var(--red-color);
                        }

                        .sidemenu .sidemenu-open-toggler::after{
                          content: "";
                          background: linear-gradient(180deg, var(--Grd-Dark), var(--Grd-Light));
                          width: 100%;
                          height: 100%;
                          display: block;
                          border-radius: 50%;
                          padding: 10px;
                          margin: -42px 0px 0px -10px;

                        }
                        

                        .sidemenu .sidemenu-open-toggler > span{
                          display: block;
                          background: var(--GrayLetter);
                          height: 3px;
                          width: 20px;
                          border-radius: 10px;
                          position: absolute;
                          top: 50%;
                          -webkit-transform: translateY(-2px) translateX(-1px) rotate(-45deg);
                          
                        }
                        .sidemenu .sidemenu-open-toggler > span:nth-child(2){
                          -webkit-transform: translateY(-2px) translateX(-1px)rotate(45deg);
                          overflow: hidden;
                          
                        }


                        /*------------- @@@@@@@@@@  Side Menu start  ------------ */

                        @media (max-width: 750px ){
                          .header .sidemenu {
                            width: 80%;
                            padding: 0px;
                            text-align: center;
                          }

                          .header .sidemenu nav ul{
                            padding-top: 70px;
                          }
                          .header .sidemenu footer .social{
                            width: 75%;
                            text-align: center;
                            margin: 50px auto 15px auto ;
                          }
                          .header .sidemenu footer .social img{
                            width: 28px;
                            margin: 0px 25px 0px 0px ;
                          }
                          .sidemenu .sidemenu-open-toggler{
                            right: 18px;
                          }

                        }
                          
                        /*------------- @@@@@@@@@@ Side Menu End  ------------ */


/* <!--------------- Scrolling Pictures  ------------------->  */


.keyart,
  .keyart_layer {
    height: 100vh;
  }
  
  #parallax {
    display: block;
  }
  
  .keyart {
    z-index: 10;
  }
  
  .keyart_layer {
    background-position: bottom center;
    background-size: auto;
    width: 100%;
    position: absolute;
  }
  
  .keyart_layer.parallax {
    position: fixed;
  }
  
  #sky-0 {
    background-image: url("./00-SKY.jpg");
    background-repeat: no-repeat;
    background-position: top;
    max-width: 2100px;
  }

  #mountaine-1 {
    background-image: url("./01-Mountaine.png");
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 110px;
    width: 2100px;
  }

  #mountaine-2 {
    background-image: url("./02-Mountaine.png");
    background-repeat: no-repeat;
    background-position: top;
    background-position-x: left;
    margin-top: 200px;
    width: 2100px;
  }
  #mountaine-2-shadow{
    background: linear-gradient(to top, #00000000,  #000000, #00000000);
    width: 2100px;
    height: 200px;
    margin-top: 360px;
    mix-blend-mode: multiply;
    opacity: 85%;
    
  }

  #trees-3 {
    background-image: url("./03-Tree.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    margin-top: 370px;
    width: 2100px;
  }

   #trees-3-shadow{
    background: linear-gradient(to top, #00000000,  #000000, #00000000  );
    width: 2100px;
    height: 350px;
    margin-top: 450px;
    
  }
  #trees-4{
    background-image: url("./04-Tree.png");
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 370px;
    width: 2100px;
  }

  #trees-4-shadow{
    background: linear-gradient(to top, #00000000,  #000000, #00000000  );
    width: 2100px;
    height: 250px;
    margin-top:600px;
  }

  /* <!-------------- Banner Section-------------->  */

  #banner-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
  }
      .banner{
          display: flex;
          width: 83%;
          justify-content: space-around;
          flex-wrap: wrap;
          align-items: flex-end;
          }

/*--------- Left Container ------*/

            .left-container{
              display: flex;
              flex-wrap: wrap;
              align-items: flex-start;
              background-image: radial-gradient(  #0000009a 10% , #00000000 70%);
              mix-blend-mode: multiply;
            }
                  .text-container{
                    max-width: 302px;
                  }
                        .text-container h4{
                          background: #ff0000b9;
                          padding: 10px 20px;
                          display: inline-block;
                          font-weight: 500;
                          border-top-left-radius: 20px;
                          border-top-right-radius: 20px;
                          border-bottom-right-radius: 20px;
                          color: var(--GrayLetter);
                          margin-bottom: -10px;
                        }
                        .text-container h1{
                          color: transparent;
                          -webkit-text-stroke-width: 1px;
                          -webkit-text-stroke-color: var(--GrayLetter);
                          font-size: 94px;
                          font-weight: 800;
                          margin-left: -5px;
                          text-transform: uppercase;
                        }
                        .text-container #type{
                          width: 0.5em;
                          height: 1em;
                          display: inline;
                          font-size: 27px ;
                          font-weight: 500;
                          letter-spacing: 0px;
                        }
                        
                        .text-container .socialmedia{
                          margin-top: 40px;
                          display: flex;
                          flex-wrap: wrap;
                        }
                        .text-container .socialmedia .fa{
                          font-size: 25px;
                          margin: 0px 25px 0px 0px ;
                          color: var(--whiteLetter);
                          cursor: pointer;
                          transition: all .2s ease-in-out;
                        }
                        
                        .text-container .socialmedia li:nth-child(1) a:hover .fa{
                          color: #e0228f;
                          transform: scale(1.2);
                        }
                        .text-container .socialmedia li:nth-child(2) a:hover .fa{
                          color: #5f8cdf;
                          transform: scale(1.2);
                        }
                        .text-container .socialmedia li:nth-child(3) a:hover .fa{
                          color: #4dc247;
                          transform: scale(1.2);
                        }
                        .text-container .socialmedia li:nth-child(4) a:hover .fa{
                          color: #55acee;
                          transform: scale(1.2);
                        }
                        .text-container .socialmedia li:nth-child(5) a:hover .fa{
                          color: #f05232;
                          transform: scale(1.2);
                        }
                        
/*--- Social Meida Hover Colours ---  */
                        

                  .img-container{
                    width: 230px;
                  }
                        .img-container img{
                          width: 240px;
                        }


/*--------- Right Container ------*/

            .right-container{
              width: 374px;
              background-image: radial-gradient(  #000000b9 10% , #00000000 70%);
              mix-blend-mode: multiply;
            }
                    .right-container .freelancer{
                      display: flex;
                      align-items: center;
                      margin-bottom: 20px;
                    }
                    .right-container .freelancer h2{
                      color: var(--red-color);
                      letter-spacing: 1px;
                      font-weight: 800;
                      font-size: 24px;
                    }
                    
                    .right-container .freelancer span{
                      width: 50px;
                      height: 2px;
                      background: var(--red-color);
                      margin-left: 12px;
                    }

              .right-container h3 {
                margin: -230px 0px 25px 40px ;
                line-height: 32px;
                font-size: 23px;
                font-weight: 600;
              }
              .right-container h3 p{
                margin-top: 15px;
              }

              .right-container h3::before{
                content: "";
                display: block;
                background: var(--red-color);
                width: 2px ;
                height: 230px;
                position: relative;
                bottom: -235px;
                left: -40px;
              }

                
                .right-container .fa-envelope  {
                  padding: 0px 20px 5px  0px;
                }
                .right-container .fa-phone{
                  padding: 0px 20px 5px  0px;
                  font-size: 18px;
                }

                .right-container .headerpage-contact a {
                  color: white;
                  font-weight: 100;
                  font-size: 18px;
                  font-family: 'Poppins', sans-serif;
                }

/*------------- @@@@@@@@@@  Min Width BANNER   ------------ */

              @media (min-width: 1750px ){

                /*--------- Left Container ------*/
                
                    .text-container{
                      max-width: 410px;
                    }
                        .text-container h1{
                          font-size: 120px;
                        }

                        .text-container .socialmedia .fa {
                          font-size: 24px;
                        }

                              .img-container img{
                                width: 260px;
                              }
                
                /*--------- Right Container ------*/
                
                .right-container{
                  width: 450px;
                }
                .right-container .fa-envelope  {
                  font-size: 20px;
                }
                .right-container .fa-phone{
                  font-size: 25px;
                }

                .right-container .headerpage-contact a {
                  font-size: 20px;
                }
              }
                
        

 /*------------- @@@@@@@@@@  Max Width For BANNER Start  ------------ */


              @media (max-width: 1093px ){

                
/* ----- Header container -----  */
              
.header .menu {
  display: none;
}

.wrap{
  height:  43px;
  justify-content: start;
  padding: 0px 15px;
}

                /* ----- Left container-----  */


                .left-container{
                  padding: 0px;
                  justify-content: center;
                  margin-top: 320px;
                }
                    .text-container{
                      max-width: 100%;
                      text-align: left;
                      position: absolute;
                      top: 350px;
                      
                    }
                       
                        .text-container h4{
                          width: 100%;
                          background: none;
                          padding: 0px;
                          margin-bottom: -2px;
                          font-weight: 600;
                        }
                        .text-container h1{
                          font-size: calc(3.5em + 5vw);
                          margin-left: 0px;
                          letter-spacing: 2px;
                          margin-left: -4px;
                          min-width: 100px;
                        }
                        .text-container h3{
                          font-size: calc(1.5px + 20px);
                          letter-spacing: 1px;
                          font-weight: 600;
                          margin-top: -0px;
                          color: var(--red-color);
                        }
                        
                  .img-container{
                    width: 230px;
                    position: absolute;
                    top: 90px;
                    z-index: -1;
                  }
                        .img-container img{
                          width: 100%;
                        }

                /*--------- Right Container ------*/

                .right-container{
                  display: none;
                }

              }
                          


 /* <!-------------- Banner Section End -------------->  */

  #trees-5 {
    background-image: url("./05-Tree.png");
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 550px;
    width: 2100px;
    
  }
  #trees-5:after{
    content: "";
    width: 100%;
    height: 100vh;
    display: block;
    background: var(--majorcolor);
    position: absolute;
    top: 43%;
}
#trees-5:before{
  content: "";
  width: 100%;
  height: 200px;
  display: block;
  background: linear-gradient(#0c0c0c00, var(--majorcolor));
  position: absolute;
  bottom: 56.8%;
}
#tree-5-5{
  display: none;
}
  
  #trees-6 {
    background-image: url("./06-Tree-new.png");
    background-repeat: no-repeat;
    margin-top: 900px;
    height: 380px;
    max-width: 2100px;
    z-index: 2;
  }

  
 
  /*--- Top Overflow ---  */

  #keyart-scrim {
    opacity: 1;
  }


  /*------------- @@@@@@@@@@  Side Menu start  ------------ */

 /*------------  For Height effect scrooling --------  */

  @media (max-height: 800px ){
    #mountaine-1 {
      margin-top: 80px;
    }
    #mountaine-2 {
      margin-top: 110px;
    }
    #mountaine-2-shadow{
      margin-top: 260px;
      
    }
    #trees-3 {
      margin-top: 270px;
    } 
    
   #trees-3-shadow{
    margin-top: 350px;
    
  } 
    #trees-4{
      margin-top: 255px;
    }
    #trees-5 {
      margin-top: 400px;
      
    }  #trees-6 {
      margin-top: 700px;
    }
  
  }

                /*------------  For Mobile Device --------  */


                /* <!------- Scrolling Pictures  -------->  */

                @media (max-width: 600px){

                  #sky-0 {
                    background-image: url("./00-SKY.jpg");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: top;
                    width: 650px;
                  }
                  #mountaine-1 {
                    margin-top: 80px;
                    background-image: url("./01-Mountaine-Mobile.png");
                    background-position: center;
                    margin-top: -100px;
                    width: 600px;
                  } 
                  #mountaine-2 {
                    background-image: url("./02-Mountaine-Mobile.png");
                    margin-top: 0px;
                    width: 600px;
                    background-position: center;
                  }
                  #mountaine-2-shadow{
                    width: 600px;
                    margin-top: 250px;
                    
                  }
                  #trees-3 {
                    display: none;
                  }
                
                  #trees-4{
                    background-image: url("./04-Tree\ -\ Mobile.png");
                    margin-top: 0px;
                    width: 600px;
                    background-position: center;
                  }
              
                  #trees-5 {
                    background-image: url("./05-Tree-Mobile.png");
                    background-position: center;
                    margin-top: 195px;
                    width: 600px;
                  }
                  #trees-5:after{
                    display: none;
                }
                  #trees-5:before{
                    display: none;
                }
                #tree-5-5{
                  display: block;
                  background-image: url("./05-5-Tree-Mobile.png");
                  background-position: center;
                  margin-top: 475px;
                  height: 380px;
                  width: 600px;
                }
                  #trees-6 {
                    background-image: url("./06-Tree-new\ Mobile.png");
                    background-position: center;
                    margin-top: 500px;
                    height: 100%;
                    width: 100%;
                  }
                  #trees-6:after{
                    top: 70%;
                }
                }
               

                /* <!------- Scrolling Pictures End  -------->  */


                ::-webkit-scrollbar{
                  width:10px;
                }
                ::-webkit-scrollbar-track{
                  width: 20px;
                  background: var(--Grd-Dark);
                  border-left: 0px solid white;
                  border-radius: 0px solid white;
                }
                ::-webkit-scrollbar-thumb{
                  background: var(--red-color);
                  width: 0px;
                  height: 35%;
                  transition: 0.5s ease;
                  cursor: pointer;
                  border-radius: 10px;

                }


                /* <!-------------------- About_Me_Start  -------------->  */


                .about{
                  background: linear-gradient(var(--majorcolor), var(--majorcolor));
                  height: 100vh;
                  width: 100%;
                  z-index: 10;
                  position: relative;
                  top: 200px;
                  display: flex;
                  justify-content: center;
                  flex-wrap: wrap;
                  align-items: flex-start;
                  position: relative;
                  padding-top: 100px;
                }
                    .about-row{
                      width: 83%;
                      display: flex;
                      justify-content: space-around;
                      flex-wrap: wrap;
                      align-items: center;
                      position: relative;
                    }


                /*---------  Left Container--------  */

                          .about-left{
                            max-width: 500px;
                            position: relative;
                          }

                                .about .about-row .about-left h2{
                                  color: var(--red-color);
                                  letter-spacing: 1px;
                                  font-weight: 800;
                                  font-size: 24px;
                                  float: left;
                                }
                                .about .about-row .about-left p{
                                  margin-top: 35px;
                                }

                                .about .about-row .about-left .title-line{
                                  width: 50px;
                                  height: 2px;
                                  margin-left: 12px;
                                  background: var(--red-color);
                                  display: inline-block;

                                }
                                    .about .about-row .about-left .my-work{
                                      display: flex;
                                      justify-content: space-between;
                                    }

                                          .about .about-row .about-left .my-work li{
                                            position: relative;
                                            font-size: 14px;
                                            padding: 10px 0px 10px 20px ;
                                            text-transform: uppercase;
                                            letter-spacing: .5px;
                                          }
                                          .about .about-row .about-left .my-work li::before{
                                            content: "";
                                            width: 7px;
                                            height: 7px;
                                            border-radius: 50%;
                                            background: var(--whiteLetter);
                                            position: absolute;
                                            left: -3.6px;
                                            top: 50%;
                                            transform: translateY(-50%);
                                          }
                                          .about .about-row .about-left .my-work li:not(:last-child):after{
                                            content: "";
                                            width: 1px;
                                            height: 120%;
                                            background: var(--whiteLetter);
                                            position: absolute;
                                            left: 0px;
                                            top: 40%;
                                          }
                                          .about .about-row .about-left .my-work ul li span {
                                            font-weight: 700;
                                            color: var(--red-color);
                                          }

                                .about .about-row .about-left .my-work ul {
                                  margin-top: 35px;
                                }

                                .about .about-row .about-left .download-button a{
                                  background: #ff0000b9;
                                  padding: 10px 20px;
                                  display: inline-block;
                                  font-weight: 600;
                                  border-radius: 40px;
                                  color: var(--whiteLetter);
                                  margin-top: 40px;
                                }

                    .about-right{
                        max-width: 450px;
                    }







                
                /* <!-------------------- About_Me_End  -------------->  */


                .skill-container{
                  background: #7fb32ca6;
                  height: 100vh;
                  width: 100%;
                  z-index: 10;
                  position: relative;
                }
